<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Tienda de Ropa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/Conozcanos.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<section th:fragment="ConozcanosInformacion" id="conozcanos">
    <h1>Conózcanos</h1>
    <div class="subseccion">
        <h2>Historia</h2>
        <p>
            Nuestra historia en la moda comenzó con la pasión por ofrecer prendas únicas y de calidad que reflejan las últimas tendencias y estilos. Desde nuestros inicios, nos hemos dedicado a explorar las mejores telas y diseños para satisfacer a nuestros clientes más exigentes.
            <br/>
            <br/>
            Nos inspiramos en las últimas tendencias globales y en la creatividad de nuestros diseñadores para crear colecciones que se destacan por su estilo, comodidad y calidad. Cada pieza que ofrecemos cuenta una historia de innovación y dedicación a la moda.
        </p>
    </div>
    <div class="subseccion">
        <h2>Misión</h2>
        <p>
            Nuestra misión es vestir a nuestros clientes con estilo y confianza, ofreciendo una amplia gama de prendas que combinan calidad, comodidad y moda. Nos esforzamos por proporcionar una experiencia de compra excepcional y personalizada, superando las expectativas de nuestros clientes en cada interacción.
            <br/>
            <br/>
            Buscamos ser líderes en la industria de la moda, inspirando a nuestros clientes con colecciones que reflejan las últimas tendencias y estilos internacionales, mientras mantenemos un compromiso constante con la calidad y la innovación.
        </p>
    </div>
    <div class="subseccion">
        <h2>Visión</h2>
        <p>
            Visualizamos un futuro donde nuestra tienda sea reconocida como un destino de moda de referencia, ofreciendo colecciones que capturan la esencia de la elegancia y el estilo contemporáneo. Nos esforzamos por ser pioneros en la moda sostenible, promoviendo prácticas responsables en toda nuestra cadena de suministro.
        </p>
    </div>
    <div class="subseccion">
        <h2>Valores</h2>
        <p>
            Pasión por la moda: Nos apasiona ofrecer prendas que expresen estilo y personalidad, adaptándonos siempre a las últimas tendencias y necesidades de nuestros clientes.
            <br/>
            <br/>
            Excelencia: Nos comprometemos a mantener los más altos estándares de calidad en cada prenda que ofrecemos, desde la selección de materiales hasta la atención al cliente.
            <br/>
            <br/>
            Innovación: Abrazamos la innovación como motor de nuestro crecimiento, explorando constantemente nuevas ideas y tecnologías para mejorar la experiencia de compra de nuestros clientes.
        </p>
    </div>
    <div class="subseccion">
        <a href="https://www.instagram.com/tiendaropaheredia/" target="_blank">

        </a>
        <br>
        <a href="https://www.facebook.com/TiendaRopaHeredia/about/" target="_blank">

        </a>
    </div>
    <div class="subseccion">
        <h2>Ubicación</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4270.517638463499!2d-84.13702871440333!3d9.994782462165235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fb0f45e9b26b%3A0xdf4c831ad9ab30d3!2sTienda%20de%20Ropa%20Heredia!5e0!3m2!1ses!2scr!4v1710216355251!5m2!1ses!2scr"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
    </div>
</section>
</body>
</html>