<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Villa Gastronomica</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCategoria">
                            <i class="fas"></i> [[#{contactenos.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>

    <section th:fragment="agregarCategoria">
        <div id="agregarCategoria" 
             class="modal fade" 
             tabindex="-1" 
             aria-labelledby="exampleModalLabel" 
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title">[[#{contactenos.agregar}]]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> 
                    <form th:action="@{/contactenos/guardar}" th:object="${contactenos}"
                          method="POST" class="was-validated" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="consulta">[[#{contactenos.consulta}]]</label>
                                <input type="text" class="form-control" name="consulta" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="provincia">[[#{contactenos.provincia}]]</label>
                                <input type="text" class="form-control" name="provincia" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="correo">[[#{contactenos.correo}]]</label>
                                <input type="text" class="form-control" name="correo" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="nombre">[[#{contactenos.nombre}]]</label>
                                <input type="text" class="form-control" name="nombre" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="apellido">[[#{contactenos.apellido}]]</label>
                                <input type="text" class="form-control" name="apellido" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="asunto">[[#{contactenos.asunto}]]</label>
                                <input type="text" class="form-control" name="asunto" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="mensaje">[[#{contactenos.mensaje}]]</label>
                                <input type="text" class="form-control" name="mensaje" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="descripcion">[[#{contactenos.descripcion}]]</label>
                                <input type="text" class="form-control" name="descripcion" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="Acepto los terminos y condiciones">[[#{contactenos.activo}]]</label>
                                <input class="form-check-input" type="checkbox" name="Acepto los terminos y condiciones" id="Acepto los terminos y condiciones"/>
                                <p>
                                    Terminos y condiciones
                                </p> 
                            </div>
                            <div class="mb-3">
                                <label for="imagen">[[#{contactenos.rutaImagen}]]</label>
                                <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                <img id="blah" src="#" alt="your image" height="200"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Guardar</button>                 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>