<<!DOCTYPE html>
<html lang="es">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
    <head>     
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad - Tienda de Ropa</title>
</head>
<body>
    <main>
        <section th:fragment="Politica">
        <h1>Política de Privacidad de Tu Tienda de Ropa</h1>
        <section>
            <h2>Recopilación de Información</h2>
            <p>En Tu Tienda de Ropa, recopilamos información personal como nombre, dirección de correo electrónico, número de teléfono, ubicación y datos de pago para poder ofrecer nuestros servicios de entrega de ropa.</p>
        </section>
        <section>
            <h2>Uso de la Información</h2>
            <p>Utilizamos tu información personal para procesar tus pedidos, enviarte notificaciones, mejorar nuestro servicio y ofrecerte una mejor experiencia. No compartiremos tu información con terceros sin tu consentimiento, excepto cuando sea necesario para la prestación de nuestros servicios.</p>
        </section>
        <section>
            <h2>Cookies y Tecnologías de Seguimiento</h2>
            <p>Empleamos cookies y otras tecnologías de seguimiento para analizar el tráfico en nuestra aplicación y sitio web, así como para personalizar tu experiencia de usuario.</p>
        </section>
        <section>
            <h2>Seguridad</h2>
            <p>Implementamos medidas de seguridad como el cifrado de datos y protocolos de seguridad para proteger tu información personal.</p>
        </section>
        <section>
            <h2>Menores de Edad</h2>
            <p>Nuestros servicios no están dirigidos a menores de edad. Si tienes menos de 18 años, por favor no utilices nuestra aplicación.</p>
        </section>
        <section>
            <h2>Enlaces a Terceros</h2>
            <p>Nuestra aplicación puede contener enlaces a sitios web o servicios de terceros sobre los cuales no tenemos control y por los que no somos responsables.</p>
        </section>
        <section>
            <h2>Cambios en la Política de Privacidad</h2>
            <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Te notificaremos sobre cualquier cambio importante a través de nuestra aplicación o por correo electrónico.</p>
        </section>
        <section>
            <h2>Contacto</h2>
            <p>Si tienes alguna pregunta sobre esta política de privacidad o deseas ejercer tus derechos sobre tu información personal, puedes contactarnos a través de <a href="mailto:[dirección de correo electrónico de contacto]">[dirección de correo electrónico de contacto]</a>.</p>
        </section>
    </main>
</body>
</html>